<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PackChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PackChecker.Properties.Settings.WebbitConnectionString2"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=V:\WebbitDB.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PackChecker.Properties.Settings>
      <setting name="defaulthome" serializeAs="String">
        <value>Collect</value>
      </setting>
      <setting name="WebbitConnectionString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=V:\websterdb.accdb</value>
      </setting>
      <setting name="LOTSConnectionString" serializeAs="String">
        <value>Data Source=192.168.1.10;Initial Catalog=LOTS;Integrated Security=False;User ID=webbit;Password=ill923r6MG</value>
      </setting>
      <setting name="initialsetup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TerminalType" serializeAs="String">
        <value>Master</value>
      </setting>
    </PackChecker.Properties.Settings>
  </userSettings>
</configuration>