<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="provider=Microsoft.ACE.OLEDB.12.0;Data Source=V:\\websterdb.accdb;" />
    <add name="PackChecker.Properties.Settings.websterdbConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=V:\websterdb.accdb"
      providerName="System.Data.OleDb" />
    <add name="PackChecker.Properties.Settings.websterdbConnectionString1"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=V:\websterdb.accdb" />
  </connectionStrings>
  
  <applicationSettings>
    <PackChecker.Properties.Settings>
      <setting name="defaulthome" serializeAs="String">
        <value>Collect</value>
      </setting>
    </PackChecker.Properties.Settings>
  </applicationSettings>
</configuration>